.water-fill {
  animation: wave 0.7s infinite linear, fill-up 0.4s infinite ease-out alternate;
}

@keyframes wave {
  0% {
    x: -400px;
  }
  100% {
    x: 0;
  }
}

@keyframes fill-up {
  0% {
    height: 0;
    y: 130px;
  }
  100% {
    height: 160px;
    y: -30px;
  }
}
