.container {
  text-align: center;
  position: relative;
  width: 300px;
  /* margin: 0 auto; */
  cursor: pointer;
}

.selectedButton {
  position: relative;
  cursor: pointer;
  display: block;
  margin-top: 2vh;
  margin-bottom: 2vh;
  width: 32vh;
  height: 8.5vh;
  border: none;
  border-radius: 999px;
  background: linear-gradient(125.02deg, #f84f5a 28.12%, #f7875a 65.62%, #f7cb5a 80%);
  /* text-transform: uppercase; */
  font-size: 20px;
  font-family: "Pretendard Variable";
  color: white;
  overflow: hidden;
  z-index: 0;
}

.fillTwo {
  position: absolute;
  background: linear-gradient(125.02deg, #f84f5a 20.12%, #f7875a 50.62%, #f7cb5a 80%);
  /* background-size: 120% 120%; */
  height: 100px;
  width: 420px;
  margin: -70px 0 0 -100px;
  z-index: -1;
  transition: all 0.3s ease;
}

.containerTwo:hover .fillTwo {
  -webkit-transform: translateX(100px);
  -moz-transform: translateX(100px);
  transform: translateX(100px);
}

@media screen and (max-width: 1119px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    width: 300px;
    /* margin: 0 auto; */
    cursor: pointer;
  }

  .selectedButton {
    position: relative;
    cursor: pointer;
    display: block;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 50vw;
    height: 12vw;
    border: none;
    border-radius: 999px;
    background: linear-gradient(125.02deg, #f84f5a 28.12%, #f7875a 65.62%, #f7cb5a 80%);
    /* text-transform: uppercase; */
    /* font-size: 20px; */
    font-family: "Pretendard Variable";
    color: white;
    overflow: hidden;
    z-index: 0;
    padding-bottom: 7px;
  }
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
